<% title :courses, :small=>"vyberte si předmět"%>

<%= simple_form_for :course do |f| %>

  <%= render :layout => 'courses/datagrid', :locals => { :courses => @courses } do |course| %>
      <%= radio_button_tag :course_id, course.id  %>
  <% end  %>

  <div class="actions">
	<%= f.submit "Vybrat", :class => 'btn primary' %>
	<%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>

<% end %>