<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @course.id %>
</p>

<p>
  <b>Code:</b>
  <%= @course.code %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<%= render :layout => "parallels/datagrid", :locals => { :parallels => Parallel.find_by_course(@course.code) } do |parallel| %>
  <%= parallel.id %>
<% end %>

<%= link_to 'Back', courses_path %>
