
<div id="datagrid">
<table class="zebra-striped">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t :course %></th>
    <th>Přednášející</th>
    <th>Počet studentů</th>
    <th>Hospitující</th>
    <th><%= t :parallel %></th>
    <th><%= t :observation_type %></th>
    <th>Stav</th>
    <th></th>
  </tr>
  </thead>
  

<% @observations.each do |observation| %>
  <% 
    course = observation.find_course 
    instance = course.instance 
  %>
  <tr>
    <td><%= observation.id %></td>
    <td><%= observation.course %></td>
    <td><%= short_users(instance.lecturers) unless instance.nil? %></td>
    <td><%= instance.occupied unless instance.nil? %></td>
    <td><%= short_users(observation.users) %></td>
    <td><%= short_parallel(observation.find_parallel) %></td>
    <td><%= t(observation.observation_type) %></td>
    <td><%= t observation.state.short_message %></td>
    <td><%= yield observation %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @users, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>
  
</div>
