
<% content_for :secoundary_content do %>
	
	<div class="header">
		<h3>Filter</h3>
	</div>	
	
	<%= simple_form_for :search,:html=> {:id=>"search_form"},:method=>:get,:wrapper => :inline do |f| %>
	
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	
	<%= f.input :login, :placeholder => 'user@fel.cvut.cz', :required => false %>
	
	<%= f.input :types, :collection =>Observation::TYPES,  :as => :check_boxes, :wrapper=>:label_wrapped, :required => false %>
	<div class="actions">
		<%= f.submit :search, :class => 'btn primary' %>
	</div>
	<% end %>

<% end %> 
<div id="datagrid">
<table class="zebra-striped">
  <thead>
  <tr>
    <%= sortable :id, "#" %>
    <%= sortable :course, :course %>
    <th>Přednášející</th>
    <th>Ročník</th>
    <th>Počet studentů</th>
    <th>Hospitující</th>
    <th>Stav</th>
    <%= sortable :parallel, :parallel %>
    <%= sortable :type, :type %>
    <th></th>
  </tr>
  </thead>
  

<% @observations.each do |observation| %>
  <tr>
    <td><%= observation.id %></td>
    <td><%= observation.course %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= observation.parallel %></td>
    <td><%= observation.type %></td>
    <td><%= yield observation %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @users, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>
  
</div>
