

<% content_for :secoundary_content do %>
	
	<div class="header">
		<h3>Filter</h3>
	</div>	
	
	<%= simple_form_for :search,:html=> {:id=>"search_form"},:method=>:get,:wrapper => :inline do |f| %>
	
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	
	<%= f.input t("people.name"), :placeholder => 'name', :required => false %>
	<%= f.input t("people.username"), :placeholder => 'login', :required => false %>
	<%= f.input t("people.email"), :placeholder => 'login@fel.cvut.cz', :required => false %>

	<%= f.input t("people.teacher"), :wrapper=>:label_wrapped, :required => false,:as => :boolean %>
	
	
	<div class="actions">
		<%= f.submit t(:search), :class => 'btn primary' %>
	</div>
	
	<% end %>

<% end %> 
<div id="datagrid">
<table class="zebra-striped">
  <thead>
  <tr>	
    <tr>
    <th>#</th>
    <th><%= t("people.username") %></th>
    <th><%= t("people.name") %></th>
    <th><%= t("people.teacher") %></th>	
    <th></th>
  </tr>
  </thead>
  


  <% peoples.each do |people| %>
  
  <tr>
    <td><%= people.id %></td>
    <td><%= people.username %></td>
    <td><%= people.full_name %></td>
    <td><%= t people.teacher? %></td>
    <td><%= yield people if block_given? %></td>
  </tr>

  <% end %>
</tbody>
</table>
<%= will_paginate peoples, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>
  
</div>





