<%= simple_form_for(@note,:wrapper => :inline) do |f| %>
  <% if f.error_notification %>
    <div class="alert-message warning fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.association :observation,:as=>:hidden %>
  <%= f.cktext_area :note, :toolbar => 'Note' %>

  <div class="actions">
	<%= f.button :submit, :class => 'btn primary' %>
  </div>
<% end %>
