
<div id="datagrid">
<table class="zebra-striped">
  <thead>
  <tr>
    <%= sortable :id, "#" %>
    <%= sortable :course, :course %>
    <th>Přednášející</th>
    <th>Ročník</th>
    <th>Počet studentů</th>
    <th>Hospitující</th>
    <th>Stav</th>
    <%= sortable :parallel, :parallel %>
    <%= sortable :observation_type, :observation_type %>
    <th></th>
  </tr>
  </thead>
  

<% @observations.each do |observation| %>
  <% 
    course = observation.find_course 
    instance = course.instance 
  %>
  <%#= debug instance %>
  <%#= debug course %>
  <tr>
    <td><%= observation.id %></td>
    <td><%= observation.course %></td>
    <td><%= short_users(instance.lecturers) unless instance.nil? %></td>
    <td></td>
    <td><%= instance.occupied unless instance.nil? %></td>
    <td></td>
    <td></td>
    <td><%= observation.parallel %></td>
    <td><%= t(observation.observation_type) %></td>
    <td><%= yield observation %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @users, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>
  
</div>
