<% title :observations, :small=>"#{@observation.find_course.name} (#{@observation.course})" %>

<h2>Info</h2>
<%= show_item(Observation.human_attribute_name(:state), t(@observation.state.short_message) ) %>
<%= show_item(Observation.human_attribute_name(:semester), @observation.semester) %>
<%= show_item(Observation.human_attribute_name(:created_by), render(@observation.created_by)) %>
<hr />

<h2>Předmět</h2>

<%= render :partial=>"courses/course", :locals => { :course => @course } unless @course.nil? %>
<hr />
<h2>Datum a místo hospitace</h2>
<%= render :partial=>"parallels/parallel", :locals => { :parallel => @parallel } unless @parallel.nil? %>
<hr />
<h2>Hospitující</h2>
<div style="margin-left: 100px;">
<%= render @observation.users %>
</div>
<hr />

