<% title :home %>

<div class="alert-message block-message warning">
  <a href="#" class="close">x</a>
  <p><h4>Aplikace je vývojové fázi.</h4></p>
<p>Pokud narazíte na chybu nebo chybějící funkčnost, tak prosím napište report do <%= link_to 'issue trackeru', 'http://code.google.com/p/hospitace/issues/entry?template=Defect%20report%20from%20user' %> .</p>
</div>

<h2>Obecně, pravidla, návody</h2>

<p>
  Podrobné informace o hospitacích naleznete na stránkách <%= link_to "rady programu", "https://wiki.feld.cvut.cz/rada_stm/kontrolavyukyverejne" %>.
</p>  
<hr />


<% @observations.each do |item| %>
  <h2><%= "Hospitace v #{item[:semester].name}" %> <small>Ohlášené a plovoucí hospitace</small></h2>

  <%= render :layout=>'observations/datagrid', :locals => { :observations => item[:observations] } do |observation| %>

    <%= link_to t(:show), observation if can? :show, observation %>

  <%end%>
  <hr />
<% end %>

<p>
  Ohlášené hospitace - jsou naplánované na konkrétní datum <br />
  Plovoucí hospitace - ohlášené hospitace, ale nenaplánované na konkrétní datum
</p> 

