<% title :home %>

<div class="alert-message block-message warning">
  <a href="#" class="close">x</a>
  <p><h4>Aplikace je vývojové fázi.</h4></p>
  <p>Pokud narazíte na chybu nebo chybějící funkčnost, tak prosím napište report do <%= link_to 'issue trackeru', 'http://code.google.com/p/hospitace/issues/entry?template=Defect%20report%20from%20user' %> .</p>
</div>

<h2>Obecně, pravidla, návody</h2>

<ul>
  <li>Postupy pro kontrolu kvality výuky <%= link_to "pdf", "/documents/2011-04-05kontrolakvalityvyuky_verze_5.pdf" %> <%= link_to "TEX_zdroj", "/documents/2010-04-05kontrolakvalityvyuky_verze_5_tex.txt" %></li>
  <li>Návod pro hospitující <%= link_to "pdf", "/documents/navodprohospitujiciver02.pdf" %>, <%= link_to "docx", "/documents/navodprohospitujiciver02.docx" %>.</li>
  <li>Formuláře pro hospitující i hospitované</li>
  <ul>
    <li>Formulář A (pro hodnocení výuky při hospitaci) <%= link_to "pdf", "/documents/a_formular_zaznamzhospitace.pdf" %> Je záměrně jen v pdf, protože se má vyplňovat ručně na přednášce, hned ukázat přednášejícímu a potom skenovat.</li>
    <li>Formulář B (slovní hodnocení hospitační návštěvy hospitujícím(mi)) <%= link_to "pdf", "/documents/b-formularslovnihodnocenhospitujicim.pdf" %>, <%= link_to "doc", "/documents/b-formularslovnihodnocenhospitujicim.doc" %>, <%= link_to "odt", "/documents/b_formularslovnihodnocenhospitujicim.odt" %>.</li>
    <li>Formulář C (stanovisko hodnoceného učitele k názorům hospitujícího) <%= link_to "pdf", "/documents/c-formularstanoviskohospitovaneho.pdf" %>,<%= link_to "doc", "/documents/c_formular_stanovisko_hospitovaneho.doc" %>, <%= link_to "odt", "/documents/c_formularstanoviskohospitovaneho.odt" %>.</li>
    <li>Formulář D (závěrečné shrnutí hospitujícím) <%= link_to "pdf", "/documents/d-formularzaverecnehodnocenihospitace.pdf" %>, <%= link_to "doc", "/documents/d_formularzaverecnehodnocenihospitace.doc" %>, <%= link_to "odt", "/documents/d_formularzaverecnehodnocenihospitace.odt" %>.</li>
  </ul>
</ul>

<hr />


<% @observations.each do |item| %>
  <h2><%= "Hospitace v #{item[:semester].name}" %> <small>Ohlášené a plovoucí hospitace</small></h2>

  <%= render :layout=>'observations/datagrid', :locals => { :observations => item[:observations] } do |observation| %>

    <%= link_to t(:show), observation if can? :show, observation %>

  <%end%>
  <hr />
<% end %>
  
<p>
  Ohlášené hospitace - jsou naplánované na konkrétní datum <br />
  Plovoucí hospitace - ohlášené hospitace, ale nenaplánované na konkrétní datum
</p> 

