
<% @steps_data ||= [] %>

<% @step_selected ||= 0 %>
    
<% content_for :content do %>
  <div id="step-holder">
    <% i = 0 %>
    <% max = @steps_data.size %>
    <% @steps_data.each { |item| %>
    
    
        <% if i == @step_selected %>
          <div class="step-no"><%= i+1 %></div>
          <div class="step-dark-left"><%= t item %></div>
          
          <% if i == max -1 %>
            <div class="step-dark-round">&nbsp;</div>
          <% else %>
            <div class="step-dark-right">&nbsp;</div>
          <% end %>
        <% else %>
          <div class="step-no-off"><%= i+1 %></div>
          <div class="step-light-left"><%= t item %></div> 
          
          <% if i == max -1 %>
            <div class="step-light-round">&nbsp;</div>
          <% else %>
            <div class="step-light-right">&nbsp;</div>
          <% end %>
        <% end %> 
    
      
    <% i+=1 } %>
  </div>
  <%= yield :search_form if content_for?(:search_form) %>
  <%= content_for?(:news_content) ? yield(:news_content) : yield %>
<% end %>
<%= render :template => 'layouts/application' %>