<%= form_for(@final_report) do |f| %>
  <% if @final_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_report.errors.count, "error") %> prohibited this final_report from being saved:</h2>

      <ul>
      <% @final_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :created %><br />
    <%= f.datetime_select :created %>
  </div>
  <div class="field">
    <%= f.label :observation %><br />
    <%= f.text_field :observation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
