
<% title "Závěrečné shrnutí hospitujícím" %>

<div class="field">
    <%= label_tag :pros, "Klady" %>
    <p><%= @final_report.pros %></p>
</div>

<div class="field">
    <%= label_tag :cons, "Zápory" %>
    <p><%= @final_report.cons %></p>
</div>

<div class="field">
    <%= label_tag :measures, "Navržená opatření" %>
    <p><%= @final_report.measures %></p>
</div>

<div class="field">
    <%= label_tag :conclusion, "Závěr ke zveřejnění" %>
    <p><%= @final_report.conclusion %></p>
</div>