<%= simple_form_for(@note,:wrapper => :inline) do |f| %>
  <%= alert_message(f.error_notification, :warning) if f.error_notification %>


  <%= f.association :observation,:as=>:hidden %>
  <%= f.cktext_area :note, :toolbar => 'Note' %>

  <div class="actions">
	<%= f.button :submit, :class => 'btn primary' %>
  </div>
<% end %>
