<%# title :observers, :small=>"seznam přidělených hospitujících" %>

<%#*<div id="datagrid">%>
<%#*<table class="zebra-striped">%>
  <%#*<thead>%>
  <%#*<tr>%>
    <%#*<th>#</th>%>
    <%#*<th>Login</th>%>
    <%#*<th>Name</th>%>
    <%#*<th>Roles</th>%>
    <%#*<th></th>%>
  <%#*</tr>%>
  <%#*</thead>%>
  

<%# @users.each do |user| %>
  <%#*<tr>%>
    <%#*<td><%= user.id %></td>%>
    <%#*<td><%= user.login %></td>%>
    <%#*<td><%= user.full_name %></td>%>
    <%#*<td><%= user.roles_mask %></td>%>
    <%#*<td><%= yield user %></td>%>
  <%#*</tr>%>
<%# end %>
<%#*</tbody>%>
<%#*</table>%>
<%#*</div>%>