<p id="notice"><%= notice %></p>

<p>
  <b>Jméno:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>Hospitace</h2>
<%= render @user.observations %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
