<% scope = "activerecord.attributes.user" %>
<div id="datagrid">
<table class="table table-striped">
  <thead>
  <tr>
    <%= th :login, scope %>
    <%= th :name, scope %>
    <%= th :email, scope %>
    <th></th>
  </tr>
  </thead>
  

<% @observers.each do |observer| %>
  <%
  user = observer.user %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= yield observer %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>