<h1>Listing final_reports</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Created</th>
    <th>Observation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @final_reports.each do |final_report| %>
  <tr>
    <td><%= final_report.text %></td>
    <td><%= final_report.created %></td>
    <td><%= final_report.observation %></td>
    <td><%= link_to 'Show', final_report %></td>
    <td><%= link_to 'Edit', edit_final_report_path(final_report) %></td>
    <td><%= link_to 'Destroy', final_report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Final report', new_final_report_path %>
