<% title :peoples, :small=>t(:person,:scope=>"title.small.select")%>

<%= simple_form_for :people do |f| %>

  <%= render :layout => 'datagrid', :locals => { :peoples => @peoples } do |person| %>
      <%= radio_button_tag :people_id, person.id  %>
  <% end  %>

  <div class="actions">
	<%= f.submit "Vybrat", :class => 'btn primary' %>
	<%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>

<% end %>

