<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @course.id %>
</p>

<p>
  <b>Code:</b>
  <%= @course.code %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>


<%= link_to 'Back', courses_path %>
