<% content_for :search_form do %>
  <%= form_tag request.path, :method => 'get', :id => "datagrid_search" do %>  
    <%= hidden_field_tag :direction, params[:direction] %>  
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>  
      <%= text_field_tag :search, params[:search] %>  
      <%= submit_tag "Search", :name => nil %>  
    </p> 

  <% end %> 
<% end %>

<div id="datagrid">      
    
<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %>  
<table class="pretty">
  <tr>
    <th><%= "id" %></th>
    <th><%= "code" %></th>
    <th><%= "name" %></th>
    <th><%= "keywords" %></th>
    <th></th>
  </tr>

  <%  courses.each do |course| %>
  
  <tr>
    <td><%= course.id %></td>
    <td><%= course.code %></td>
    <td><%= course.name %></td>
    <td><%= course.keywords %></td>
    <td><%= yield course if block_given?  %></td>
  </tr>

  <% end %>

</table>

<%= will_paginate courses %>
</div>
