<h1>Listing observations</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Code</th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.name %></td>
    <td><%= course.code %></td>
      
    <td><%= courses_path(:id => course.code) %></td>
    <td><%= link_to "detail", courses_path(:id => course.code) %></td>
    <td><%= link_to "detail", :controller => "courses", :id => course.code, :method =>:get %></td>
    
    
    
  </tr>
<% end %>
</table>

<br />
