<% title :attachment %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Název souboru</th>
    <th>Typ</th>
    <th>Autor</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @attachments.each do |attachment| %>
    <tr>
      <td><%= attachment.filename %></td>
      <td><%= attachment.content_type %></td>
      <td><%= attachment.user.full_name %></td>
      <td><%= link_to 'Show', attachment %></td>
      <td><%= link_to 'Destroy', attachment, confirm: 'Are you sure?', method: :delete  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'form'  %>