

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <% if @user.persisted? %>
    <div class="field">
      <%= f.label :login %><br />
      <%= @user.login %>
    </div>
  
  <% elsif false %>
    

    <div class="field">
      <%= f.label :login %>
      <br />
      <%= f.select :login, @peoples.collect {|p| [ p.full_name, p.username ] } %>
      <%= link_to 'Search', search_peoples_path %>
    </div>
  <% end %>


  <div id="peoples">  


    
  <%#= render :layout=>"peoples/peoples", :controller=>"peoples" do |person| %>
        <%#= link_to "Show", :controller=>"peoples", :action=>"show", :id=>person.id  %>
  <%# end %>

  </div> 


  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, {"Admin" => "admin", "Hospitatel" => "hospital"} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
