<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= peoples.size %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.select :login, peoples.collect {|p| [ p.full_name, p.username ] } %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, {"Admin" => "admin", "Hospitatel" => "hospital"} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
