<%= simple_form_for @user, :wrapper => :inline do |f| %>

<%#= debug @user %>

<% if f.error_notification %>
<div class="alert-message warning fade in" data-alert="alert">
	<a class="close" href="#">×</a>
	<%= f.error_notification %>
</div>
<% end %>


<%= f.input :login, :placeholder => 'user' %>
<%= f.input :password %>
<%= f.input :password_confirmation%>

<%= f.input :roles, :collection =>User::ROLES,  :as => :check_boxes, :wrapper=>:label_wrapped if can? :assign_roles, @user %>


<div class="actions">
	<%= f.button :submit, :class => 'btn primary' %>
	<%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
</div>
<% end %> 