<% title :user, :small=>"#{@user.full_name}", :action_title=>:edit,:action=>edit_user_path(@user) %>

<%= show_item(User.human_attribute_name(:login), @user.login) %>

<%= show_item(User.human_attribute_name(:name), @user.full_name) %>

<%= show_item(User.human_attribute_name(:email), @user.email) %>

<%= show_item(User.human_attribute_name(:roles), roles(@user)) %>

<hr/>

<h2>Správa hospitací</h2>

<%= render @user.created_observations %>

<hr/>

<h2><%= t Observer.model_name.human %></h2>

<%= render @user.observations %>