
<% scope = "activerecord.attributes.evaluation" %>

<% content_for :secoundary_content do %>
	
	<div class="header">
		<h3>Filtr</h3>
	</div>	
	
	<%= simple_form_for :search,:html=> {:id=>"search_form", :class => 'form-horizontal form-search' },:method=>:get do |f| %>
	
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	
	<%= f.input :course, :required => false %>
	<%#= f.input :date,:as=>:date_picker %> 
	<%= f.input :observed, :required => false %>
	
	<div class="form-actions">
		<%= f.submit :search, :class => 'btn btn-primary' %>
	</div>
	<% end %>

<% end %> 

<div id="datagrid">
<table class="table table-striped">
  <thead>
  <tr>
    <%= th :course, scope, true %>
    <%= th :teacher, scope, true %>
    <%= th :datetime_observation, scope, true %>
    <%= th :form, scope %>
    <th></th>
  </tr>
  </thead>
  

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.course %></td>
    <td><%= evaluation.teacher.full_name %></td>
    <td><%= l(evaluation.datetime_observation,:format=>:long) %></td>
    <td><%= "" %></td>
    <td><%= 
          actions do
              yield evaluation 
          end%>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @evaluations, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>
  
</div>
