<% content_for :secoundary_content do %>
	
	<div class="header">
		<h3>Nápověda</h3>
	</div>	
<p>
  Pro vložení generovaných dat:
</p>	
<dl>
  <dt>Kód předmětu</dt>
  <dd>%course_code%</dd>
  <dt>Jméno předmětu</dt>
  <dd>%course_name%</dd>
  <dt>Adresa hospitace</dt>
  <dd>%observation_url%</dd>
  <dt>Adresa na formulář</dt>
  <dd>%url%</dd>
</dl>

<% end %> 

<%= simple_form_for(@email_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>
    <%= f.input :text , :input_html=>{:class=>:width_100, :rows=>10}%>
    <%= f.input :form_code, :as=>:select, :collection=>EmailTemplate.events.collect{|i| [t(i[2]),i[2]]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
