<% title :email_template %>

<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @email_template.subject %>
</p>

<p>
  <b>Text:</b>
  <%= @email_template.text %>
</p>

<p>
  <b>form code:</b>
  <%= @email_template.form_code %>
</p>


<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
