
<%#= form_tag users_path, :method => 'get', :id => "users_search" do %>  
  <%#= hidden_field_tag :direction, params[:direction] %>  
  <%#= hidden_field_tag :sort, params[:sort] %>
  <%#*<p>%>  
    <%#= text_field_tag :search, params[:search] %>  
    <%#= submit_tag "Search", :name => nil %>  
  <%#*</p>%> 

<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %>  
<table class="pretty">
  <tr>
    <th><%= sortable "login" %></th>
    <th><%= sortable "full_name" %></th>
    <th><%= sortable "role" %></th>
    <th><%= sortable "email" %></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.full_name %></td>
    <td><%= user.role %></td>
    <td><%= user.email %></td>
    <td><%= yield user %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>
  
<%# end %> 
