<% title "Uživaté" %>

<div id="users"><%= render :layout=>'users' do |user| %></div> 

    <%= link_to 'Show', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %> 

<%end%>

 


<%= link_to 'New User', new_user_path %>
