<% title User.model_name.human, :small=>"#{@user.full_name}", :action_title=>t(:edit),:action=>edit_user_path(@user) %>

<%= show_item(User.human_attribute_name(:login), @user.login) %>

<%= show_item(User.human_attribute_name(:name), @user.full_name) %>

<%= show_item(User.human_attribute_name(:email), @user.email) %>

<%= show_item(User.human_attribute_name(:roles), @user.roles.collect{|i| t i}.join(", ")) %>

<hr/>

<h2><%= t "user.created" %> <small><%= t Observation.model_name.human %></small></h2>

<%= render @user.created_observations %>

<hr/>

<h2><%= t Observer.model_name.human %> <small><%= t Observation.model_name.human %></small></h2>

<%= render @user.observations %>