
<% scope = "activerecord.attributes.evaluation" %>

<% content_for :secoundary_content do %>

  <div class="header">
    <h3>Filtr</h3>
  </div>	

  <%= simple_form_for :search,:html=> {:id=>"search_form", :class => 'form-horizontal form-search' },:method=>:get do |f| %>

    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

    <%= f.input :course, :required => false %>
    <%= f.input :teacher, :required => false %>
    <%= f.input :guarant, :required => false %>
    <%= f.input :semester,:as=>:select,:collection=>Semester.used_current_and_next,:required=>false %> 

    <div class="form-actions">
      <%= f.submit t(:search), :class => 'btn btn-primary' %>
    </div>
  <% end %>

<% end %> 

<div id="datagrid">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= th :course, scope %>
        <%= th :teacher, scope %>
        <%= th :guarant, scope %>
        <%= th :semester, scope %>
        <%= th :datetime_observation, scope %>
        <%#= th :forms, scope %>
        <%= th :state, scope %>
        <th></th>

      </tr>
    </thead>


    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.course %></td>
        <td><%= short_people(evaluation.teacher) %></td>
        <td><%= short_people(evaluation.guarant) %></td>
        <td><%= evaluation.semester %></td>
        <td><%= l(evaluation.datetime_observation,:format=>:short) %></td>
        <td><%#= evaluation.forms.collect{|i| i.code}.uniq.join(", ") %></td>
        <td><%= label_span(t(evaluation.observation.state.short_message),evaluation.observation.state.label) %></td>
        <td><%= 
          actions do
            yield evaluation 
          end%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @evaluations, :renderer=> WillPaginate::ActionView::BootstrapLinkRenderer %>

</div>
