<% title :evaluation, :small=>"z výuky #{@observation.course.name} (#{@observation.course.code})" %>
<h3>Informace o výuce</h3>
<dl>
<%= show_item(Evaluation.human_attribute_name(:teacher), @evaluation.teacher) %>

<%= show_item(Evaluation.human_attribute_name(:guarant), @evaluation.guarant) %>

<%= show_item(Evaluation.human_attribute_name(:course), @evaluation.course) %>

<%= show_item(Evaluation.human_attribute_name(:room), @evaluation.room) %>

<%= show_item(Evaluation.human_attribute_name(:datetime_observation), l(@evaluation.datetime_observation,:format=>:long)) %>

<%= show_item(Evaluation.human_attribute_name(:created_at), l(@evaluation.created_at,:format=>:long)) %>
  
<%= show_item(Observer.model_name.human, full_url_user(@evaluation.users)) %>
</dl>