<% title :evaluation, :small=>"z výuky #{@observation.course.code} (#{@observation.course.name})" %>
<h3>Informace o výuce</h3>
<dl class="dl-horizontal">
<%= show_item(Evaluation.human_attribute_name(:teacher), full_url_people(@evaluation.teacher)) %>

<%= show_item(Evaluation.human_attribute_name(:guarant), full_url_people(@evaluation.guarant)) %>

  <%= show_item(Observation.human_attribute_name(:head_of_department), full_url_people(@evaluation.observation.head_of_department)) %>

<%= show_item(Evaluation.human_attribute_name(:course), @evaluation.course) %>

<%= show_item(Evaluation.human_attribute_name(:room), @evaluation.room) %>
  
<%= show_item(Evaluation.human_attribute_name(:datetime_observation), l(@evaluation.datetime_observation,:format=>:long)) %>

<%= show_item(Evaluation.human_attribute_name(:created_at), l(@evaluation.created_at,:format=>:long)) %>

<%= show_item(Observer.model_name.human, render(@evaluation.observers_people)) %>
</dl>
