
<% title "New Observation" %>
 
  
<%= form_for @observation, :method=>"post",:url=>"/observation_wizard"  do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% @observation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= debug @observation %>

  <%= session[:observation_params] %>
  <%= @_controller.current_step %>
  <%#= self.instance_variables %>  
  <%= render "#{@_controller.current_step}" , {:f=>f} %>

  <div class="actions">
    <%= f.submit "Back", :name => "back_button" unless @_controller.first_step? %>
    <%= f.submit "Continue" %>
    <%= f.submit "Reset", :action=>"reset" %>
  </div>
<% end %>
