<% scope = "parallel" %>

<div id="datagrid">
  <table class="table table-striped">
    <tr>
      <%= th :id, scope %>
      <%= th :teachers, scope %>
      <%= th :day, scope %>
      <%= th :time, scope %>
      <%= th :parity, scope %>
      <%= th :room, scope %>
      <%= th :type, scope %>
      <th></th>
    </tr>


    <% parallels.each do |parallel| %>
      <tr>
        <td><%= parallel.number %></td>
        <td><%= short_users(parallel.teachers) %></td>
        <td><%= parallel.day_t %></td>
        <td><%= parallel_time(parallel) %></td>
        <td><%= parallel.parity_t %></td>
        <td><%= parallel.room.code %></td>
        <td><%= parallel.parallel_type_t %></td>
        <td><%= yield parallel if block_given? %></td>
      </tr>
    <% end  %>
  </table>
</div>