<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %>  
<table class="pretty">
  <tr>
    <th><%= "username" %></th>
    <th><%= "full_name" %></th>
    <th><%= "email" %></th>
    <th></th>
  </tr>

<% @peoples.each do |people| %>
  <tr>
    <td><%= people.username %></td>
    <td><%= people.full_name %></td>
    <td><%= people.email %></td>
    <td><%= link_to 'Show', people %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @peoples %>